<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not found | LinkedIn</title>
</head>
<style>
  img{
    align-items: center;
    /* padding: 25% 25%;
    border: 5px red solid; */
  }
</style>
<body>
    <img src="https://betanews.com/wp-content/uploads/2016/01/Error-404-dark-clouds-warning-page-not-found-e1452851329452.jpg" >
</body>
</html>